<a href="https://colab.research.google.com/github/praseedm/Spaceship_titanic/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/praseedm/Spaceship_titanic.git

Cloning into 'Spaceship_titanic'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (5/5), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), 297.12 KiB | 3.96 MiB/s, done.

In [3]:
import pandas as pd
import os

In [4]:
DATA_DIR = os.path.join('/content/Spaceship_titanic/data')

In [5]:
train_df = pd.read_csv(os.path.join(DATA_DIR, "train.csv"))

In [6]:
train_df.shape

(8693, 14)

In [7]:
train_df.head(3)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False

## Data cleaning and preprocessing

Identify feature types : categorical, ordinal, numberical, boolean, ...

Remove nun,blank or empty values

In [9]:
train_df.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

In [11]:
train_df["CryoSleep"].unique()

array([False, True, nan], dtype=object)

In [12]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [16]:
#Categorical features

for col in train_df.select_dtypes(include=['object']).columns:
  print(col)

PassengerId
HomePlanet
CryoSleep
Cabin
Destination
VIP
Name

In [17]:
#Numerical features

for col in train_df._get_numeric_data().columns:
  print(col)

Age
RoomService
FoodCourt
ShoppingMall
Spa
VRDeck
Transported